.navbar {
  background-color: #ffffff;
  width: 100%;
  height: 99px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 206px;
  height: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-search {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: 0 50px 0 350px;
}

.search-tab {
  background: rgba(231, 222, 222, 0.8);
  height: 46px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  color: #6c6868;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.search-tab {
  position: relative;
  padding: 0 20px 0 40px;
}

.search-tab:first-child {
  width: 170px;
}

.search-tab:last-child {
  width: 250px;
  margin-left: -40px;
}

.search-tab.active {
  background: #094677;
  color: #ffffff;
  z-index: 2;
}

.search-tab:not(.active) {
  background: rgba(231, 222, 222, 0.8);
  color: #6c6868;
  z-index: 1;
}

.tab-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  filter: brightness(0) saturate(100%) invert(42%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(104%) contrast(92%);
}

.search-tab.active .tab-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.navbar-profile {
  width: 48px;
  height: 48px;
}

.profile-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #094677;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}